body{
    background-color: lightblue;
}

/* H1 & H2 titles have this text format - Not Working RN */
.btxt{
    text-shadow: 1cap;
    text-decoration-style: solid;
    justify-content: center;
    align-content: center;
    text-decoration-color: blue;
}

h1{
    font-style: italic;
    text-align:center;
    text-shadow: black;
}

.sm_title{
    margin-top: 5;
    margin-bottom: 4;
    text-shadow: lightslategrey;
    text-align: center;
}

.card_img{
   width: 100%;
   height: 100%;
   object-fit:inherit;
}

.footer_design{
    height: 30px;
    background-color: black;
    text-align: center;
    colortext
}

@media screen and (max-width: 500px){
    h1 {
font-size: 14px;
    }
} 
